// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
  padding: 0%;
}

li {
  list-style: none;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.total {
  width: 300px;
}